<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
    <div class="container" align='center'>
    <div class="jumbotron">
         <h1>WELCOME TO PRAVAS NEWS CHANNEL</h1>
         <h1 class="display-4">Hello, world!</h1>
         <p class="lead">For more Information login to xxx.com </p>
         <hr class="my-4">
         <p class="lead">
         <a class="btn btn-primary btn-lg" href="/sportsinfo" role="button">Sports News</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <a class="btn btn-primary btn-lg" href="/politicsinfo" role="button">Politics News</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <a class="btn btn-primary btn-lg" href="/moviesinfo" role="button">Movies News</a>
         </p>
    </div>
    </div>
  </body>
</html>
